---
import Layout from "../layouts/Layout.astro";
import ValueCard from "../components/ValueCard.astro";
---

<Layout title="About">
  <section class="container jumbotronSection">
    <div class="row">
      <div class="col-lg-6 pe-5">
        <h1 class="display-1 fw-bold">About Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-lg-6">
        <img
          src="/about-page-splash.webp"
          class="border-radius-50"
          style="width:100%"
        />
      </div>
    </div>
  </section>
  <section class="container pb-5">
    <h1 class="display-4 fw-bold">Our Story</h1>
    <div class="row mt-3 mt-lg-5">
      <div class="col-lg-4">
        <img src="/ourstory.webp" class="border-radius-50 w-100" />
      </div>
      <div
        class="col-lg-8 fs-5 px-3 px-lg-5 pt-4 pt-lg-0 d-flex align-items-center"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="row mt-3 mt-lg-5">
      <div
        class="col-lg-8 fs-5 pe-0 pe-lg-5 pt-4 pt-lg-0 d-flex align-items-center"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-lg-4">
        <img src="/ourstory2.webp" class="border-radius-50 w-100" />
      </div>
    </div>
    <div class="row mt-3 mt-lg-5">
      <div class="col-lg-4">
        <img src="/ourstory3.webp" class="border-radius-50 w-100" />
      </div>
      <div
        class="col-lg-8 fs-5 px-3 px-lg-5 pt-4 pt-lg-0 d-flex align-items-center"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
          sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </section>
  <div class="py-1 py-lg-5"></div>
  <section class="bg-body-tertiary">
    <div class="container jumbotronSection">
      <h1 class="display-4 fw-bold">Our Values</h1>
      <div class="row mt-4 gap-2 gap-lg-1">
        <div class="col">
          <div class="card border-radius-50 border-0">
            <div class="row h-100 p-5">
              <img
                src="/values-1.webp"
                class="border-radius-50 w-100"
                style="max-width:100%;max-height:100%"
              />

              <div class="mt-4">
                <h2 class="fw-bold display-6">Quality</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-radius-50 border-0">
            <div class="row h-100 p-5">
              <img
                src="/values-2.webp"
                class="border-radius-50 w-100"
                style="max-width:100%;max-height:100%"
              />

              <div class="mt-4">
                <h2 class="fw-bold display-6">Sustainability</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-radius-50 border-0">
            <div class="row h-100 p-5">
              <img
                src="/values-3.webp"
                class="border-radius-50 w-100"
                style="max-width:100%;max-height:100%"
              />

              <div class="mt-4">
                <h2 class="fw-bold display-6">Research</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container jumbotronSection">
    <h1 class="display-4 fw-bold">Board of Directors</h1>
    <div class="row gap-3 px-3 mt-5">
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
    <div class="row gap-3 px-3 mt-3">
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-lg card p-0">
        <img src="/boardmember-1.webp" class="card-img-top" />
        <div class="card-body">
          <p class="fs-4 fw-bold mb-0">Person Name</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
