---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <section class="container pb-5">
    <h1 class="display-1 fw-bold belowFixedHeader playfair-display">
      Contact Us
    </h1>
    <p>We'd love to hear from you.</p><div class="py-2 py-xl-3"></div>
    <div class="row gap-2 gap-lg-1 pb-5">
      <div class="col-lg">
        <div class="card border-radius-50 d-flex h-100">
          <div class="card-body p-5">
            <h2 class="fw-bold display-4">Visit</h2>
            <p>
              Feel free to visit us at our Las Vegas office, which is open 9:00
              a.m. to 5:00 p.m. weekly, Monday through Friday. No appointment is
              required.
            </p>
            <a class="btn btn-sm btn-outline-primary" href="/"
              >View on Google Maps <i class="bi bi-box-arrow-up-right"></i></a
            >
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card border-radius-50 d-flex h-100">
          <div class="card-body p-5">
            <h2 class="fw-bold display-4">Email</h2>
            <table class="table">
              <tbody class="tbody">
                <tr>
                  <td>Sales</td>
                  <td><a href="mailto:sales@acme.corp">sales@acme.corp</a></td>
                </tr>
                <tr>
                  <td>Service</td>
                  <td
                    ><a href="mailto:service@acme.corp">service@acme.corp</a
                    ></td
                  >
                </tr>
                <tr>
                  <td>Billing</td>
                  <td
                    ><a href="mailto:billing@acme.corp">billing@acme.corp</a
                    ></td
                  >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="card border-radius-50 d-flex h-100">
          <div class="card-body p-5">
            <h2 class="fw-bold display-4">Phone</h2>
            <p>
              <a
                href="tel:19999999999"
                class="fs-6 btn btn-outline-primary border-radius-50 px-4"
                >Call: +1 (999) 999-9999</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
